## Data Ingestion and Preprocessing

In [ ]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [ ]:
# Loading airbnb data of 8 cities
montreal = pd.read_csv('Montreal.csv')
newbrunswick = pd.read_csv('NewBrunswick.csv')
ottawa = pd.read_csv('Ottawa.csv')
quebeccity = pd.read_csv('QuebecCity.csv')
toronto = pd.read_csv('Toronto.csv')
vancouver = pd.read_csv('Vancouver.csv')
victoria = pd.read_csv('Victoria.csv')
winnipeg = pd.read_csv('Winnipeg.csv')

# Adding a City column to each dataframes
montreal['City'] = 'Montreal'
newbrunswick['City'] = 'New Brunswick'
ottawa['City'] = 'Ottawa'
quebeccity['City'] = 'Quebec City'
toronto['City'] = 'Toronto'
vancouver['City'] = 'Vancouver'
victoria['City'] = 'Victoria'
winnipeg['City'] = 'Winnipeg'

# Merging data from different cities to a single dataframe
airbnb_df = pd.concat([montreal, newbrunswick, ottawa, quebeccity, toronto, vancouver, victoria, winnipeg], ignore_index=True)

In [ ]:
airbnb_df.describe()

,id,scrape_id,host_id,host_listings_count,host_total_listings_count,latitude,longitude,accommodates,bathrooms,bedrooms,...,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
count,4.963600e+04,4.963600e+04,4.963600e+04,49634.000000,49634.000000,49636.000000,49636.000000,49636.000000,41614.000000,47525.000000,...,39411.000000,39409.000000,39410.000000,39408.000000,39408.000000,49636.000000,49636.000000,49636.000000,49636.000000,39455.000000
mean,4.951017e+17,2.024044e+13,2.105296e+08,11.428295,17.965447,45.707282,-86.409358,3.524438,1.285108,1.579611,...,4.761674,4.858577,4.865958,4.818533,4.702363,7.261181,5.442683,1.745890,0.045350,1.565113
std,4.590541e+17,8.492157e+07,1.879092e+08,38.390107,62.737442,2.160301,19.477610,2.267403,0.691533,1.035723,...,0.385802,0.313433,0.314090,0.285152,0.393191,16.049818,14.697855,6.346418,0.750822,1.860575
min,1.419000e+03,2.024032e+13,1.565000e+03,1.000000,1.000000,43.585750,-124.421850,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.010000
25%,3.509048e+07,2.024032e+13,3.825061e+07,1.000000,1.000000,43.674331,-79.558415,2.000000,1.000000,1.000000,...,4.690000,4.840000,4.860000,4.750000,4.630000,1.000000,1.000000,0.000000,0.000000,0.290000
50%,6.506540e+17,2.024050e+13,1.482152e+08,2.000000,3.000000,45.464161,-79.387940,3.000000,1.000000,1.000000,...,4.880000,4.950000,4.960000,4.900000,4.800000,2.000000,1.000000,0.000000,0.000000,0.900000
75%,9.335297e+17,2.024051e+13,3.899223e+08,6.000000,9.000000,47.364125,-73.606614,4.000000,1.500000,2.000000,...,5.000000,5.000000,5.000000,5.000000,4.930000,5.000000,2.000000,1.000000,0.000000,2.250000
max,1.151772e+18,2.024051e+13,5.764085e+08,692.000000,2046.000000,49.973760,-63.775060,16.000000,46.000000,50.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,123.000000,123.000000,92.000000,24.000000,57.170000